table
{
	border-collapse: collapse;
	border:none;
}

table#data
{
	width: 580px;
	font-family: sans-serif;
	border: 5px solid black;
}

table#data td
{
	text-align: center;
}

table#data td,th
{
	border:1px solid black;
}

td[rowspan="2"]
{
	background: yellow;
}

colgroup.first
{
	background: red;
}

td[rowspan="3"]
{
	background: aqua;
}

td[colspan="2"]
{
	background: blue;
}

