h1
{
	color:red;
	background: yellow;
	border: 10px dashed blue;
	width: 550px;
	padding:5px;
}

a:active {background: lime;}
a:visited {background: aqua;}

img#lemon {visibility:hidden;height:0px;}

p.btn {
	width:192px;
	height:67px;
	background: url(./resources/Earl_of_Lemongrab.png);
}

p.btn a {
	display:block;
	width:192px;
	height:67px;
}

p.btn a img {
	border:0px;
}

p.btn a:hover img {
	visibility: hidden;
}